# PROBLEM 1
We need to predict which of the Magic Keys given in “problem 1.csv” will buy milk and/or meat in the first 15 days of March-2019. We have to put Y in the purchase column if the Magic Keys will purchase and N if the Magic Keys will not make a purchase.

## Data Preprocessing

In [74]:
import pandas as pd

purchase_df = pd.read_csv("purchase.csv")
boxes_df = pd.read_csv("boxes.csv")
problem_df = pd.read_csv("problem 1.csv")

In [75]:
# Utility Function

def analyze(df):
    print(f"Number of rows: {len(df)}")    
    print(f"Number of columns: {len(df.columns)}")
    
    info_df = pd.DataFrame({
        "NUNIQUE": df.nunique(),
        "DTYPE": df.dtypes
    })
    
    print()
    print(info_df)

### `purchase_df`

In [76]:
purchase_df.head()

  PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT
0      1/2/2019  2CED678A247    12.0        1.0
1      1/2/2019  2BF58D91BA1    12.0        1.0
2      1/2/2019  2C15B86534E    99.0        1.0
3      1/2/2019  2C32D9A859A     6.0        1.0
4      1/2/2019  2C7A55404D1     4.0        1.0

In [77]:
analyze(purchase_df)

Number of rows: 2455864
Number of columns: 4

               NUNIQUE    DTYPE
PURCHASE_DATE      151   object
MAGIC_KEY      1274108   object
BOX_ID             291  float64
BOX_COUNT           14  float64

In [78]:
purchase_df["MAGIC_KEY"] = purchase_df["MAGIC_KEY"].astype("category")
purchase_df["PURCHASE_DATE"] = pd.to_datetime(purchase_df["PURCHASE_DATE"],
                                              format="%d/%m/%Y")

In [79]:
purchase_df.head()

  PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT
0    2019-02-01  2CED678A247    12.0        1.0
1    2019-02-01  2BF58D91BA1    12.0        1.0
2    2019-02-01  2C15B86534E    99.0        1.0
3    2019-02-01  2C32D9A859A     6.0        1.0
4    2019-02-01  2C7A55404D1     4.0        1.0

### `boxes_df`

In [80]:
boxes_df.head()

   BOX_ID  QUALITY      DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0       1  Premium  Home Delivery - CoD   0.0   2.7        9.96
1       2  Premium  Home Delivery - CoD   0.0   2.3       11.96
2       3  Premium  Home Delivery - CoD   0.0   2.4       11.96
3       4  Premium  Home Delivery - CoD   0.0   2.5       11.96
4       5  Premium  Home Delivery - CoD   0.0   2.6       11.96

In [81]:
analyze(boxes_df)

Number of rows: 290
Number of columns: 6

                 NUNIQUE    DTYPE
BOX_ID               290    int64
QUALITY                2   object
DELIVERY_OPTION        3   object
MILK                  28  float64
MEAT                  39  float64
UNIT_PRICE            18  float64

In [82]:
boxes_df["QUALITY"] = le.fit_transform(boxes_df["QUALITY"])
boxes_df["DELIVERY_OPTION"] = le.fit_transform(boxes_df["DELIVERY_OPTION"])

In [83]:
analyze(boxes_df)

Number of rows: 290
Number of columns: 6

                 NUNIQUE    DTYPE
BOX_ID               290    int64
QUALITY                2    int32
DELIVERY_OPTION        3    int32
MILK                  28  float64
MEAT                  39  float64
UNIT_PRICE            18  float64

In [84]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

purchase_df["EN_MAGIC_KEY"] = le.fit_transform(purchase_df["MAGIC_KEY"])

In [85]:
purchase_df["YEAR"] = purchase_df["PURCHASE_DATE"].dt.year
purchase_df["MONTH"] = purchase_df["PURCHASE_DATE"].dt.month
purchase_df["DAY"] = purchase_df["PURCHASE_DATE"].dt.day

purchase_df = purchase_df.drop(columns=["PURCHASE_DATE"])

In [86]:
purchase_df.head()

     MAGIC_KEY  BOX_ID  BOX_COUNT  EN_MAGIC_KEY  YEAR  MONTH  DAY
0  2CED678A247    12.0        1.0       1222234  2019      2    1
1  2BF58D91BA1    12.0        1.0        526391  2019      2    1
2  2C15B86534E    99.0        1.0        624102  2019      2    1
3  2C32D9A859A     6.0        1.0        708928  2019      2    1
4  2C7A55404D1     4.0        1.0        870797  2019      2    1

### `merged_df`

In [87]:
merged_df = pd.merge(purchase_df, boxes_df, on="BOX_ID", how="left")

In [88]:
merged_df

,MAGIC_KEY,BOX_ID,BOX_COUNT,EN_MAGIC_KEY,YEAR,MONTH,DAY,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2CED678A247,12.0,1.0,1222234,2019,2,1,0.0,1.0,8.0,1.5,12.98
1,2BF58D91BA1,12.0,1.0,526391,2019,2,1,0.0,1.0,8.0,1.5,12.98
2,2C15B86534E,99.0,1.0,624102,2019,2,1,0.0,0.0,0.0,3.3,13.96
3,2C32D9A859A,6.0,1.0,708928,2019,2,1,0.0,1.0,0.0,2.7,11.96
4,2C7A55404D1,4.0,1.0,870797,2019,2,1,0.0,1.0,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...,...,...,...
2455859,2BD992B5538,12.0,1.0,425064,2018,10,28,0.0,1.0,8.0,1.5,12.98
2455860,2C97CD72233,17.0,1.0,950422,2018,10,28,0.0,1.0,10.0,1.8,12.98
2455861,2C91C61D372,40.0,1.0,933236,2018,10,28,0.0,1.0,12.0,1.8,19.98
2455862,2CD70CFC4E3,51.0,1.0,1145776,2018,10,28,0.0,1.0,18.0,2.9,23.98
2455863,2C4792A5B84,4.0,1.0,760770,2018,10,28,0.0,1.0,0.0,2.5,11.96

## Data Cleaning

In [89]:
# No. of rows per column having NaN value

merged_df.isna().sum()

MAGIC_KEY           0
BOX_ID             47
BOX_COUNT          47
EN_MAGIC_KEY        0
YEAR                0
MONTH               0
DAY                 0
QUALITY            64
DELIVERY_OPTION    64
MILK               64
MEAT               64
UNIT_PRICE         64
dtype: int64

In [90]:
merged_df[merged_df.isna().any(axis=1)]

,MAGIC_KEY,BOX_ID,BOX_COUNT,EN_MAGIC_KEY,YEAR,MONTH,DAY,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
177,28FF265F082,NaN,NaN,146179,2019,2,1,NaN,NaN,NaN,NaN,NaN
178,2CB168CDFA3,NaN,NaN,1029966,2019,2,1,NaN,NaN,NaN,NaN,NaN
179,2C2C8844F09,NaN,NaN,689457,2019,2,1,NaN,NaN,NaN,NaN,NaN
180,2BDCCEF05A4,NaN,NaN,437086,2019,2,1,NaN,NaN,NaN,NaN,NaN
181,2BF1D98D0B2,NaN,NaN,514526,2019,2,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2188029,2BE34886311,NaN,NaN,464138,2018,10,9,NaN,NaN,NaN,NaN,NaN
2228380,2BE266F8C55,NaN,NaN,460626,2018,10,18,NaN,NaN,NaN,NaN,NaN
2240877,2BDC3619EAF,NaN,NaN,434755,2018,10,18,NaN,NaN,NaN,NaN,NaN
2243419,2BF1D98D0B2,NaN,NaN,514526,2018,10,17,NaN,NaN,NaN,NaN,NaN
2250877,2C2C8844F09,NaN,NaN,689457,2018,10,16,NaN,NaN,NaN,NaN,NaN

In [91]:
merged_df = merged_df.dropna(subset=["BOX_ID"])

In [92]:
# Fill the rows will value NaN according to their column types

merged_df["QUALITY"] = merged_df["QUALITY"].fillna(merged_df["QUALITY"].median())
merged_df["DELIVERY_OPTION"] = merged_df["DELIVERY_OPTION"].fillna(merged_df["DELIVERY_OPTION"].max())
merged_df["MILK"] = merged_df["MILK"].fillna(merged_df["MILK"].mean())
merged_df["MEAT"] = merged_df["MEAT"].fillna(merged_df["MEAT"].mean())
merged_df["UNIT_PRICE"] = merged_df["UNIT_PRICE"].fillna(merged_df["UNIT_PRICE"].mean())

C:\Users\Victus\AppData\Local\Temp\ipykernel_17296\239666877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["QUALITY"] = merged_df["QUALITY"].fillna(merged_df["QUALITY"].median())
C:\Users\Victus\AppData\Local\Temp\ipykernel_17296\239666877.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["DELIVERY_OPTION"] = merged_df["DELIVERY_OPTION"].fillna(merged_df["DELIVERY_OPTION"].max())
C:\Users\Victus\AppData\Local\Temp\ipykernel_17296\239666877.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["MILK"] = merged_df["MILK"].fillna(merged_df["MILK"].mean())
C:\Users\Victus\AppData\Local\Temp\ipykernel_17296\239666877.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["MEAT"] = merged_df["MEAT"].fillna(merged_df["MEAT"].mean())
C:\Users\Victus\AppData\Local\Temp\ipykernel_17296\239666877.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["UNIT_PRICE"] = merged_df["UNIT_PRICE"].fillna(merged_df["UNIT_PRICE"].mean())

In [93]:
merged_df.isna().sum()

MAGIC_KEY          0
BOX_ID             0
BOX_COUNT          0
EN_MAGIC_KEY       0
YEAR               0
MONTH              0
DAY                0
QUALITY            0
DELIVERY_OPTION    0
MILK               0
MEAT               0
UNIT_PRICE         0
dtype: int64

In [94]:
merged_df["BOX_COUNT"].value_counts()

BOX_COUNT
 1.0     2453363
 2.0        2283
 3.0          85
 4.0          30
-1.0          17
 6.0          17
 5.0          10
 7.0           3
 9.0           2
 19.0          2
 11.0          2
 8.0           1
 10.0          1
 13.0          1
Name: count, dtype: int64

In [95]:
# As there are 17 rows of BOX_COUNT that are < 0, we drop them

# merged_df["BOX_COUNT"] = merged_df["BOX_COUNT"].clip(lower=0)
merged_df = merged_df.loc[merged_df["BOX_COUNT"] >= 0]

In [96]:
# Are all MAGIC_KEY of problem_df present in merged_df?

problem_df["MAGIC_KEY"].isin(merged_df["MAGIC_KEY"]).all()

True

In [97]:
merged_df.head()

,MAGIC_KEY,BOX_ID,BOX_COUNT,EN_MAGIC_KEY,YEAR,MONTH,DAY,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2CED678A247,12.0,1.0,1222234,2019,2,1,0.0,1.0,8.0,1.5,12.98
1,2BF58D91BA1,12.0,1.0,526391,2019,2,1,0.0,1.0,8.0,1.5,12.98
2,2C15B86534E,99.0,1.0,624102,2019,2,1,0.0,0.0,0.0,3.3,13.96
3,2C32D9A859A,6.0,1.0,708928,2019,2,1,0.0,1.0,0.0,2.7,11.96
4,2C7A55404D1,4.0,1.0,870797,2019,2,1,0.0,1.0,0.0,2.5,11.96