# Problem 1

We need to predict which of the Magic Keys given in “problem 1.csv” will buy milk and/or meat in the first 15 days of March-2019. We have to put Y in the purchase column if the Magic Keys will purchase and N if the Magic Keys will not make a purchase.

## Data Preprocessing

In [30]:
import pandas as pd

purchase_df = pd.read_csv("purchase.csv")
boxes_df = pd.read_csv("boxes.csv")
problem1_df = pd.read_csv("problem 1.csv")

In [31]:
purchase_df.head()

  PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT
0      1/2/2019  2CED678A247    12.0        1.0
1      1/2/2019  2BF58D91BA1    12.0        1.0
2      1/2/2019  2C15B86534E    99.0        1.0
3      1/2/2019  2C32D9A859A     6.0        1.0
4      1/2/2019  2C7A55404D1     4.0        1.0

In [32]:
purchase_df.tail()

        PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT
2455859    28/10/2018  2BD992B5538    12.0        1.0
2455860    28/10/2018  2C97CD72233    17.0        1.0
2455861    28/10/2018  2C91C61D372    40.0        1.0
2455862    28/10/2018  2CD70CFC4E3    51.0        1.0
2455863    28/10/2018  2C4792A5B84     4.0        1.0

In [33]:
# Types of data in each columns
purchase_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455864 entries, 0 to 2455863
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   PURCHASE_DATE  object
 1   MAGIC_KEY      object
 2   BOX_ID         float64
 3   BOX_COUNT      float64
dtypes: float64(2), object(2)
memory usage: 74.9+ MB

In [34]:
# No. of unique entries in each columns
purchase_df.nunique()

PURCHASE_DATE        151
MAGIC_KEY        1274108
BOX_ID               291
BOX_COUNT             14
dtype: int64

In [35]:
# Convert Purchase Date from object to datetime
purchase_df["PURCHASE_DATE"] = pd.to_datetime(purchase_df["PURCHASE_DATE"], format="%d/%m/%Y")

# Convert Magic Key from object to categorical
purchase_df["MAGIC_KEY"] = purchase_df["MAGIC_KEY"].astype("category")

In [36]:
purchase_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455864 entries, 0 to 2455863
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   PURCHASE_DATE  datetime64[ns]
 1   MAGIC_KEY      category
 2   BOX_ID         float64
 3   BOX_COUNT      float64
dtypes: category(1), datetime64[ns](1), float64(2)
memory usage: 107.5 MB

In [37]:
boxes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BOX_ID           290 non-null    int64
 1   QUALITY          290 non-null    object
 2   DELIVERY_OPTION  290 non-null    object
 3   MILK             290 non-null    float64
 4   MEAT             290 non-null    float64
 5   UNIT_PRICE       290 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 13.7+ KB

In [38]:
boxes_df.nunique()

BOX_ID             290
QUALITY              2
DELIVERY_OPTION      3
MILK                28
MEAT                39
UNIT_PRICE          18
dtype: int64

In [39]:
# QUALITY and DELIVERY_OPTION are both categorical, hence encode these columns
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

boxes_df["QUALITY"] = le.fit_transform(boxes_df["QUALITY"])
boxes_df["DELIVERY_OPTION"] = le.fit_transform(boxes_df["DELIVERY_OPTION"])

In [40]:
boxes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BOX_ID           290 non-null    int64
 1   QUALITY          290 non-null    int32
 2   DELIVERY_OPTION  290 non-null    int32
 3   MILK             290 non-null    float64
 4   MEAT             290 non-null    float64
 5   UNIT_PRICE       290 non-null    float64
dtypes: float64(3), int32(2), int64(1)
memory usage: 11.5 KB

In [41]:
# Merge two dataframes
merged_df = pd.merge(purchase_df, boxes_df, on="BOX_ID", how="left")

In [42]:
merged_df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,0.0,1.0,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,0.0,1.0,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,0.0,0.0,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,0.0,1.0,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,0.0,1.0,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
2455859,2018-10-28,2BD992B5538,12.0,1.0,0.0,1.0,8.0,1.5,12.98
2455860,2018-10-28,2C97CD72233,17.0,1.0,0.0,1.0,10.0,1.8,12.98
2455861,2018-10-28,2C91C61D372,40.0,1.0,0.0,1.0,12.0,1.8,19.98
2455862,2018-10-28,2CD70CFC4E3,51.0,1.0,0.0,1.0,18.0,2.9,23.98
2455863,2018-10-28,2C4792A5B84,4.0,1.0,0.0,1.0,0.0,2.5,11.96

In [43]:
merged_df = merged_df.drop(columns=["BOX_ID", "BOX_COUNT"])
merged_df

,PURCHASE_DATE,MAGIC_KEY,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,0.0,1.0,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,0.0,1.0,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,0.0,0.0,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,0.0,1.0,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,0.0,1.0,0.0,2.5,11.96
...,...,...,...,...,...,...,...
2455859,2018-10-28,2BD992B5538,0.0,1.0,8.0,1.5,12.98
2455860,2018-10-28,2C97CD72233,0.0,1.0,10.0,1.8,12.98
2455861,2018-10-28,2C91C61D372,0.0,1.0,12.0,1.8,19.98
2455862,2018-10-28,2CD70CFC4E3,0.0,1.0,18.0,2.9,23.98
2455863,2018-10-28,2C4792A5B84,0.0,1.0,0.0,2.5,11.96

In [44]:
merged_df.nunique()

PURCHASE_DATE          151
MAGIC_KEY          1274108
QUALITY                  2
DELIVERY_OPTION          3
MILK                    28
MEAT                    39
UNIT_PRICE              18
dtype: int64

## Feature Engineering

In [45]:
merged_df["ENCODED_MAGIC_KEY"] = le.fit_transform(merged_df["MAGIC_KEY"])

In [46]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455864 entries, 0 to 2455863
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   PURCHASE_DATE      datetime64[ns]
 1   MAGIC_KEY          category
 2   QUALITY            float64
 3   DELIVERY_OPTION    float64
 4   MILK               float64
 5   MEAT               float64
 6   UNIT_PRICE         float64
 7   ENCODED_MAGIC_KEY  int32
dtypes: category(1), datetime64[ns](1), float64(5), int32(1)
memory usage: 173.1 MB

In [47]:
merged_df.nunique()

PURCHASE_DATE            151
MAGIC_KEY            1274108
QUALITY                    2
DELIVERY_OPTION            3
MILK                      28
MEAT                      39
UNIT_PRICE                18
ENCODED_MAGIC_KEY    1274108
dtype: int64

In [48]:
merged_df["PURCHASE"] = merged_df.apply(lambda row: 1 if row["MILK"] > 0 or row["MEAT"] > 0 else 0, axis=1)

In [49]:
merged_df

,PURCHASE_DATE,MAGIC_KEY,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,ENCODED_MAGIC_KEY,PURCHASE
0,2019-02-01,2CED678A247,0.0,1.0,8.0,1.5,12.98,1222234,1
1,2019-02-01,2BF58D91BA1,0.0,1.0,8.0,1.5,12.98,526391,1
2,2019-02-01,2C15B86534E,0.0,0.0,0.0,3.3,13.96,624102,1
3,2019-02-01,2C32D9A859A,0.0,1.0,0.0,2.7,11.96,708928,1
4,2019-02-01,2C7A55404D1,0.0,1.0,0.0,2.5,11.96,870797,1
...,...,...,...,...,...,...,...,...,...
2455859,2018-10-28,2BD992B5538,0.0,1.0,8.0,1.5,12.98,425064,1
2455860,2018-10-28,2C97CD72233,0.0,1.0,10.0,1.8,12.98,950422,1
2455861,2018-10-28,2C91C61D372,0.0,1.0,12.0,1.8,19.98,933236,1
2455862,2018-10-28,2CD70CFC4E3,0.0,1.0,18.0,2.9,23.98,1145776,1
2455863,2018-10-28,2C4792A5B84,0.0,1.0,0.0,2.5,11.96,760770,1

In [50]:
merged_df.nunique()

PURCHASE_DATE            151
MAGIC_KEY            1274108
QUALITY                    2
DELIVERY_OPTION            3
MILK                      28
MEAT                      39
UNIT_PRICE                18
ENCODED_MAGIC_KEY    1274108
PURCHASE                   2
dtype: int64

In [51]:
# Since we created PURCHASE column with respect to MILK and MEAT, we drop them
merged_df = merged_df.drop(columns=["MILK", "MEAT"])
merged_df.head()

,PURCHASE_DATE,MAGIC_KEY,QUALITY,DELIVERY_OPTION,UNIT_PRICE,ENCODED_MAGIC_KEY,PURCHASE
0,2019-02-01,2CED678A247,0.0,1.0,12.98,1222234,1
1,2019-02-01,2BF58D91BA1,0.0,1.0,12.98,526391,1
2,2019-02-01,2C15B86534E,0.0,0.0,13.96,624102,1
3,2019-02-01,2C32D9A859A,0.0,1.0,11.96,708928,1
4,2019-02-01,2C7A55404D1,0.0,1.0,11.96,870797,1

In [52]:
# Filter out data from first 15 days of every months
merged_df = merged_df[merged_df["PURCHASE_DATE"].dt.day <= 15]

In [53]:
merged_df["YEAR"] = merged_df["PURCHASE_DATE"].dt.year
merged_df["MONTH"] = merged_df["PURCHASE_DATE"].dt.month
merged_df["DAY"] = merged_df["PURCHASE_DATE"].dt.day

merged_df = merged_df.drop(columns=["PURCHASE_DATE"])

In [54]:
col_order = ["ENCODED_MAGIC_KEY", "MAGIC_KEY", "YEAR", "MONTH", "DAY", "DELIVERY_OPTION", "QUALITY", "UNIT_PRICE", "PURCHASE"]
merged_df = merged_df.reindex(columns=col_order)
merged_df.head()

,ENCODED_MAGIC_KEY,MAGIC_KEY,YEAR,MONTH,DAY,DELIVERY_OPTION,QUALITY,UNIT_PRICE,PURCHASE
0,1222234,2CED678A247,2019,2,1,1.0,0.0,12.98,1
1,526391,2BF58D91BA1,2019,2,1,1.0,0.0,12.98,1
2,624102,2C15B86534E,2019,2,1,0.0,0.0,13.96,1
3,708928,2C32D9A859A,2019,2,1,1.0,0.0,11.96,1
4,870797,2C7A55404D1,2019,2,1,1.0,0.0,11.96,1

In [55]:
magic_df = merged_df[["MAGIC_KEY", "ENCODED_MAGIC_KEY"]]
magic_df.head()

     MAGIC_KEY  ENCODED_MAGIC_KEY
0  2CED678A247            1222234
1  2BF58D91BA1             526391
2  2C15B86534E             624102
3  2C32D9A859A             708928
4  2C7A55404D1             870797

In [56]:
merged_df = merged_df.drop(columns=["MAGIC_KEY", "DELIVERY_OPTION", "QUALITY", "UNIT_PRICE"])
merged_df.head()

   ENCODED_MAGIC_KEY  YEAR  MONTH  DAY  PURCHASE
0            1222234  2019      2    1         1
1             526391  2019      2    1         1
2             624102  2019      2    1         1
3             708928  2019      2    1         1
4             870797  2019      2    1         1

## Model Training

In [57]:
from sklearn.model_selection import train_test_split

X = merged_df.drop(columns=["PURCHASE"])
y = merged_df["PURCHASE"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32)

In [58]:
X_train.dtypes

ENCODED_MAGIC_KEY    int32
YEAR                 int32
MONTH                int32
DAY                  int32
dtype: object

In [59]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

## Model Evaluation

In [60]:
from sklearn.metrics import classification_report

y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       1.00      1.00      1.00    248086

    accuracy                           1.00    248089
   macro avg       0.50      0.50      0.50    248089
weighted avg       1.00      1.00      1.00    248089

## Prediction

In [61]:
problem1_df["MAGIC_KEY"] = problem1_df["MAGIC_KEY"].astype("category")
problem1_df.head()

     MAGIC_KEY
0  28D5BB06356
1  293BEAB4E98
2  2962EE8065C
3  2957BE29EA9
4  28E351A0745

In [62]:
magic_df.head()

     MAGIC_KEY  ENCODED_MAGIC_KEY
0  2CED678A247            1222234
1  2BF58D91BA1             526391
2  2C15B86534E             624102
3  2C32D9A859A             708928
4  2C7A55404D1             870797

In [63]:
problem1_df['MAGIC_KEY'].isin(magic_df['MAGIC_KEY']).all()

False

In [64]:
problem1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58689 entries, 0 to 58688
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MAGIC_KEY  58689 non-null  category
dtypes: category(1)
memory usage: 2.7 MB

In [65]:
magic_df.head()

     MAGIC_KEY  ENCODED_MAGIC_KEY
0  2CED678A247            1222234
1  2BF58D91BA1             526391
2  2C15B86534E             624102
3  2C32D9A859A             708928
4  2C7A55404D1             870797

In [66]:
# problem1_df = problem1_df.merge(magic_df[["MAGIC_KEY", "ENCODED_MAGIC_KEY"]], on="MAGIC_KEY", how="left")
# problem1_df.head()

magic_key_map = magic_df.set_index("MAGIC_KEY")["ENCODED_MAGIC_KEY"].to_dict()
problem1_df["ENCODED_MAGIC_KEY"] = problem1_df["MAGIC_KEY"].map(magic_key_map)

problem1_df.head()

     MAGIC_KEY  ENCODED_MAGIC_KEY
0  28D5BB06356                NaN
1  293BEAB4E98           243997.0
2  2962EE8065C                NaN
3  2957BE29EA9           260161.0
4  28E351A0745                NaN

In [67]:
problem1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58689 entries, 0 to 58688
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MAGIC_KEY          58689 non-null  category
 1   ENCODED_MAGIC_KEY  47899 non-null  float64
dtypes: category(1), float64(1)
memory usage: 3.1 MB

In [68]:
problem1_df.nunique()

MAGIC_KEY            58689
ENCODED_MAGIC_KEY    47899
dtype: int64

In [71]:
problem1_df["YEAR"] = 2019
problem1_df["MONTH"] = 3
problem1_df["DAY"] = 1

In [72]:
problem1_df.head()

     MAGIC_KEY  ENCODED_MAGIC_KEY  YEAR  MONTH  DAY
0  28D5BB06356                NaN  2019      3    1
1  293BEAB4E98           243997.0  2019      3    1
2  2962EE8065C                NaN  2019      3    1
3  2957BE29EA9           260161.0  2019      3    1
4  28E351A0745                NaN  2019      3    1